@import url('https://fonts.googleapis.com/css?family=Noto+Sans|Patua+One&display=swap');

html, body {
    margin: 0;
    padding: 0;
    background-color: #181414;
    font-family: 'Noto Sans', sans-serif;
    color: #CFBCBC;

    h1, h2, h3, h4, h5, h6 {
        font-family: 'Patua One', sans-serif;
        color: #E6C6C6;
        font-weight: normal;
    }
}